In [1]:
import os
from os import listdir
from os.path import isfile, join

import numpy as np
import pandas as pd

In [2]:
FOLDER_PATH = 'cache/train/features_den_fast/'

In [3]:
file_names = [f for f in listdir(FOLDER_PATH) if isfile(join(FOLDER_PATH, f))]

In [4]:
df = pd.DataFrame()

for file_name in file_names:
    df_seg = pd.read_csv(FOLDER_PATH + file_name)
    df_seg['id'] = file_name.replace("feature_", "").replace(".csv", "")
    df = df.append(df_seg)

In [5]:
df.head(2)

,Unnamed: 0,ave,std,max,min,q90,q95,q99,q05,q10,...,ave_roll_abs_mean_1000,std_roll_abs_mean_1000,max_roll_abs_mean_1000,min_roll_abs_mean_1000,q01_roll_abs_mean_1000,q05_roll_abs_mean_1000,q95_roll_abs_mean_1000,q99_roll_abs_mean_1000,y,id
0,1,4.901845,5.907705,190.681274,-185.443726,5.194641,9.684387,21.694641,0.025024,4.638184,...,5.703361,2.493982,33.537573,4.604500,4.674133,4.687073,9.332428,16.987486,3.341096,2992
0,1,4.823390,7.042332,323.054619,-207.132881,5.155479,9.777397,23.508061,-0.191353,4.539970,...,5.772816,2.827686,31.754600,4.509151,4.539970,4.589897,11.239715,20.446242,7.125296,514

In [6]:
df.index = df['id'].values
df.index = df.index.astype(int)

In [15]:

# features.drop('id', axis=1, inplace=True)
df = df.drop('Unnamed: 0', axis=1)
df = df.sort_index()

In [16]:
df.columns

Index(['ave', 'std', 'max', 'min', 'q90', 'q95', 'q99', 'q05', 'q10', 'q01',
       ...
       'q99_roll_mean_1000', 'ave_roll_abs_mean_1000',
       'std_roll_abs_mean_1000', 'max_roll_abs_mean_1000',
       'min_roll_abs_mean_1000', 'q01_roll_abs_mean_1000',
       'q05_roll_abs_mean_1000', 'q95_roll_abs_mean_1000',
       'q99_roll_abs_mean_1000', 'y'],
      dtype='object', length=116)

In [17]:
df.head(2)

,ave,std,max,min,q90,q95,q99,q05,q10,q01,...,q99_roll_mean_1000,ave_roll_abs_mean_1000,std_roll_abs_mean_1000,max_roll_abs_mean_1000,min_roll_abs_mean_1000,q01_roll_abs_mean_1000,q05_roll_abs_mean_1000,q95_roll_abs_mean_1000,q99_roll_abs_mean_1000,y
0,4.883947,3.854965,101.301819,-91.198181,5.203979,8.741760,15.998047,1.038635,4.331421,-6.486450,...,5.311493,5.309864,1.536251,24.455775,4.017334,4.329210,4.444907,6.928594,10.876837,1.430797
1,4.722502,5.626686,181.190590,-151.544151,5.091888,8.876686,18.770233,0.440224,4.400368,-9.349632,...,5.091888,5.425580,2.311011,28.091183,4.398940,4.400368,4.466279,7.833419,20.146314,1.391499

In [18]:
df.to_csv('cache/train/features_den_fast.csv', index=True, index_label='id')