In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('cache/train/features_fast/feature_1.csv')

In [7]:
df.head()

,Unnamed: 0,ave,std,max,min,q90,q95,q99,q05,q10,...,q99_roll_mean_1000,ave_roll_abs_mean_1000,std_roll_abs_mean_1000,max_roll_abs_mean_1000,min_roll_abs_mean_1000,q01_roll_abs_mean_1000,q05_roll_abs_mean_1000,q95_roll_abs_mean_1000,q99_roll_abs_mean_1000,y
0,1,4.725767,6.588802,181.0,-154.0,10.0,12.0,21.0,-2.0,0.0,...,5.223,5.73951,2.399157,28.41,4.325,4.447,4.552,8.552,20.504,1.391499

In [11]:
df.drop('Unnamed: 0',axis=1, inplace=True)

In [16]:
df['id'] = 1322

In [21]:
df.index = df['id'].values

In [22]:
df

,ave,std,max,min,q90,q95,q99,q05,q10,q01,...,ave_roll_abs_mean_1000,std_roll_abs_mean_1000,max_roll_abs_mean_1000,min_roll_abs_mean_1000,q01_roll_abs_mean_1000,q05_roll_abs_mean_1000,q95_roll_abs_mean_1000,q99_roll_abs_mean_1000,y,id
1322,4.725767,6.588802,181.0,-154.0,10.0,12.0,21.0,-2.0,0.0,-11.0,...,5.73951,2.399157,28.41,4.325,4.447,4.552,8.552,20.504,1.391499,1322