In [8]:
import pandas as pd

df1 = pd.DataFrame(data=[[11,12,13],
                        [21,22,23,]], columns=['id','a','b'])
df1 = df1.set_index('id')

df2 = pd.DataFrame(data=[
                        [21,22,23,],
                        [31,32,33],], columns=['id','a','b'])
df2 = df2.set_index('id')

dif = df1.index.difference(df2.index)
df1[df1.index.isin(dif)]

     a   b
id
11  12  13